.contenant {
  position: relative;
  text-align: center;
  color: white;
 max-width: 100%;
}
#S1
{
font-size: 30px;
font-family: Arial;
color: white;
}
#S2
{
color: white;
font-size: 18px;
font-family: times new roman;
}

#S3
{
font-size: 14px;
font-family: times new roman;
font-style: Italic;
}
.texte_centrer {
  position: absolute;
  top: -30%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  
 
}

.texte_centrer1 {
  position: absolute;
  top: -13%;
  left: 46%;
  transform: translate(-50%, -50%);
  color: white;
  
 
}
hr
{
 /* width: 100%;
  height: 10px;
  color: white;
  background-color: white;
  border: none;*/
  margin-top:95px;
  border-top: 10px solid white;
  
}
#borderimg1 {
  border: 10px solid white;
  padding: 0px;
  margin: -100px;
  /*border-image: url(Img/anoceanofsky.jpg); -100px*/
  /*background-image: url(Img/anoceanofsky.jpg);*/
  border-width: auto;
  background-size: cover;
}

#border {
  border: 10px solid white;
  background-color: #11E6F0;
  background-size: cover;
  margin-left: 24.50%;
  height: 30%;
  width: 50%;
  margin-top: 90px;

}
 img
 {
max-width: 100%;
 }