body{
	background-color:#FFF5EE;
	/*background-image : url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");*/
    }
table{
	background-color: white;
     }